.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center; 
  width: 100%;
  height: 660px;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-bottom: 20px; 
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* --- RESPONSIVIDADE PARA MOBILE --- */
@media (max-width: 768px) {
  .hero-section {
    background-image: url('https://ss-usa.s3.amazonaws.com/companies/MzY0NjA0MjIyAQA/uploads/PACOTES/banner_pacotes.jpg');
    height: 400px; /* Define a altura do banner no mobile */
    padding-bottom: 0;
    justify-content: flex-start;
  }

  .hero-content {
    display: none;
  }
}